.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
}
body {
  background-color: #393E46;
}
H4 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
img {
  width: 80%;
}
button{
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  background-image:linear-gradient(to top left,rgba(0, 42, 255, 0.025),#232931);
  border: 1px rgba(0, 0, 0, 0.517) solid ;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
